/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0 0.5%;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Playfair Display', serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 1%;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 1%;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 1%;
}
img {
  max-width: 100%;
  height: auto;
}
header {
  width: 100%;
  margin: 2% auto;
}
header nav {
  display: flex;
}
header nav .logo {
  width: 40%;
}
header nav .links {
  width: 60%;
  text-align: right;
  margin: 8% 2% 0 0;
}
header nav .links a {
  margin: 2%;
  padding: 2%;
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
}
header nav .links a:last-child {
  color: white;
  background-color: #445C3C;
}
.bottom-nav {
  width: 100%;
}
.bottom-nav .bottom-links {
  width: 100%;
  display: flex;
  margin: 0;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #445C3C;
}
.bottom-nav .bottom-links a {
  color: #C9D99E;
  text-decoration: none;
  font-size: 1.5rem;
}
footer {
  width: 100%;
  text-align: center;
  padding: 2% 0;
}
.top-content {
  width: 100%;
}
.top-content h1 {
  text-align: center;
  margin-top: 2%;
}
.top-content p {
  padding: 2%;
}
.top-content button {
  display: block;
  margin: auto;
  color: #445C3C;
  background-color: #FDA77F;
  padding: 2% 4%;
  font-size: 2rem;
}
.middle-content {
  width: 100%;
  margin-top: 2%;
  display: flex;
}
.middle-content .middle-text {
  background-color: #C9D99E;
}
.middle-content .middle-text img {
  width: 60%;
  display: block;
  margin: 0 auto;
  padding: 10% 0;
}
.middle-content .middle-text h2 {
  text-align: center;
}
.middle-content .middle-text p {
  padding: 2% 3%;
}
.bottom-content {
  margin: 4% 0;
  width: 100%;
}
.bottom-content h2 {
  text-align: center;
  padding-bottom: 4%;
}
.bottom-content .yelp-review {
  margin: 0 auto;
}
.contact {
  width: 100%;
  text-align: center;
  background-color: #445C3C;
  color: #FAE8C8;
}
footer {
  background-color: #FAE8C8;
  color: #FDA77F;
}
footer div a {
  color: #FDA77F;
}
