/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0 0.5%;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  background-color: #f0f0f0;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Playfair Display', serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 1%;
}
h3 {
  font-size: 2.9rem;
  padding-bottom: 1%;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 1%;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 1%;
}
img {
  max-width: 100%;
  height: auto;
}
header {
  width: 100%;
  margin: 2% auto;
}
header nav {
  display: flex;
  width: 100%;
}
@media (max-width: 500px) {
  header nav {
    flex-direction: column;
  }
}
header nav .logo {
  width: 40%;
}
@media (max-width: 500px) {
  header nav .logo {
    width: 70%;
    margin: 0 auto;
  }
}
header nav .links {
  width: 60%;
  text-align: right;
  margin: 8% 2% 0 0;
}
@media (max-width: 500px) {
  header nav .links {
    width: 100%;
    text-align: center;
  }
}
header nav .links a {
  margin: 2%;
  padding: 2%;
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
}
header nav .links a:hover {
  color: #FDA77F;
  text-decoration: underline;
}
header nav .links a:nth-child(5) {
  color: white;
  background-color: #445C3C;
}
header nav .links a:nth-child(5):hover {
  color: #FDA77F;
  background-color: white;
}
header nav .links input {
  width: 26%;
  margin: 5% 2% 0% 0%;
}
@media (max-width: 500px) {
  header nav .links input {
    width: 70%;
  }
}
header nav .links button {
  margin-right: 2%;
}
@media (max-width: 500px) {
  header nav .links button {
    width: 18%;
  }
}
.bottom-nav {
  width: 100%;
}
.bottom-nav .bottom-links {
  width: 100%;
  display: flex;
  margin: 0;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #445C3C;
  padding: 2% 0;
}
@media (max-width: 500px) {
  .bottom-nav .bottom-links {
    flex-direction: column;
    text-align: center;
  }
}
.bottom-nav .bottom-links a {
  color: #C9D99E;
  text-decoration: none;
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  .bottom-nav .bottom-links a {
    margin-bottom: 2%;
    font-size: 3rem;
  }
}
.bottom-nav .bottom-links a:hover {
  color: #445C3C;
  background-color: #C9D99E;
}
footer {
  width: 100%;
  text-align: center;
  padding: 2% 0;
}
.top-content {
  width: 100%;
}
.top-content h1 {
  text-align: center;
  margin-top: 2%;
}
.top-content p {
  padding: 2%;
}
@media (max-width: 500px) {
  .top-content p {
    padding: 8%;
  }
}
.top-content button {
  display: block;
  margin: 0 auto;
  color: #445C3C;
  background-color: #FDA77F;
  padding: 2% 4%;
  font-size: 2rem;
}
.middle-content {
  width: 100%;
  margin-top: 2%;
  display: flex;
}
@media (max-width: 500px) {
  .middle-content {
    flex-direction: column;
  }
}
.middle-content .middle-text {
  background-color: #C9D99E;
  margin-top: 3%;
}
.middle-content .middle-text img {
  width: 60%;
  display: block;
  margin: 0 auto;
  padding: 10% 0;
}
@media (max-width: 500px) {
  .middle-content .middle-text img {
    width: 45%;
  }
}
.middle-content .middle-text h2 {
  text-align: center;
}
.middle-content .middle-text p {
  padding: 2% 3%;
}
.bottom-content {
  margin: 4% 0;
  width: 100%;
}
.bottom-content h2 {
  text-align: center;
  padding-bottom: 4%;
}
.bottom-content .yelp-review {
  margin: 0 auto;
}
.contact {
  width: 100%;
  text-align: center;
  background-color: #445C3C;
  color: #FAE8C8;
}
footer {
  background-color: #FAE8C8;
  color: #FDA77F;
}
footer div a {
  color: #FDA77F;
}
.about {
  width: 100%;
  background-color: #FDA77F;
  padding-bottom: 3%;
}
.about h1 {
  width: 100%;
  padding: 2%;
  text-align: center;
}
.about p {
  text-align: center;
  width: 100%;
  padding: 3% 10%;
  margin: 0 auto;
}
.about .bullet-list {
  width: 42%;
  background-color: #FAE8C8;
  display: block;
  margin: 0 auto;
  padding: 2% 4%;
  line-height: 2rem;
}
@media (max-width: 500px) {
  .about .bullet-list {
    width: 94%;
    font-size: 2rem;
  }
}
.about .bullet-list ul li {
  list-style-type: square;
  margin-left: 5%;
}
@media (max-width: 500px) {
  .about .bullet-list ul li {
    margin-bottom: 2%;
  }
}
.about .bullet-list ul li:first-child {
  list-style-type: upper-roman;
}
@media (max-width: 500px) {
  .about .bullet-list ul li:first-child {
    margin-bottom: 2%;
  }
}
.about .bullet-list ol {
  list-style-type: square;
  margin-left: 5%;
}
.about .bullet-list ol li:first-child {
  list-style-type: upper-roman;
}
@media (max-width: 500px) {
  .about .bullet-list ol li:first-child {
    margin: 2% 0;
  }
}
.team-title {
  text-align: center;
  width: 100%;
  padding: 2% 0;
}
.about-content {
  padding: 2% 0;
  width: 100%;
  display: flex;
  text-align: center;
}
@media (max-width: 500px) {
  .about-content {
    flex-direction: column;
  }
}
.about-content .text-one {
  width: 50%;
}
@media (max-width: 500px) {
  .about-content .text-one {
    width: 70%;
    border: 1px dotted #445C3C;
    margin: 0 auto;
    padding: 3% 0;
    margin-bottom: 5%;
  }
}
.about-content .text-one div {
  margin: 3% auto;
}
.about-content .text-one div a {
  color: #445C3C;
  background-color: #C9D99E;
  padding: 2% 6%;
}
.about-content .text-one div a:hover {
  color: #C9D99E;
  background-color: #445C3C;
}
.about-content .text-two {
  width: 50%;
}
@media (max-width: 500px) {
  .about-content .text-two {
    width: 70%;
    border: 1px dotted #445C3C;
    margin: 0 auto;
    padding: 3% 0;
  }
}
.about-content .text-two div {
  margin: 3% auto;
}
.about-content .text-two div a {
  color: #445C3C;
  background-color: #C9D99E;
  padding: 2% 6%;
}
.about-content .text-two div a:hover {
  color: #C9D99E;
  background-color: #445C3C;
}
