.about{
    .width100();
    background-color: @orange;
    padding-bottom: 3%;
    h1{
        .width100();
        padding: 2%;
        text-align: center;
    }//closes h1 tag
    p{
        text-align: center;
        .width100();
        padding: 3% 10%;
        margin: 0 auto;
    }//closes p tag
    .bullet-list{
        width: 42%;
        background-color: @pastel;
        display: block;
        margin: 0 auto;
        padding: 2% 4%;
        line-height: 2rem;
        ul{
            li{
                list-style-type: square;
                margin-left: 5%;
            }//closes li tag
            li:first-child{
                list-style-type: upper-roman;
            }//closes li:first-child
        }//closes ul tag
        ol{
            list-style-type: square;
            margin-left: 5%;
            li:first-child{
                list-style-type: upper-roman;
            }//closes li tag
        }//closes ol tag
    }//closes .bullet-list
}//closes .about

.team-title{
    text-align: center;
    .width100();
    padding: 2% 0;
}
.about-content{
    padding: 2% 0;
    .width100();
    display: flex;
    text-align: center;

    .text-one, .text-two{
       width: 50%;

        div{
            margin: 3% auto;
            a{
                color: @green;
                background-color: @summer;
                padding: 2% 6%;
                &:hover{
                    color: @summer;
                    background-color: @green;
                }
            }
        }
    }
}
