// Navigation Styles here
header{
  
    width: 100%;
    margin: 2% auto;

    nav{
        display: flex;

        .logo{
            width: 40%;
        }//closes .logo
        .links{
            width: 60%;
            text-align: right;
            margin: 8% 2% 0 0; 
            a{
                margin: 2%;
                padding: 2%;
                color: black;
                text-decoration: none;
                font-size: 1.5rem;
            }// closes a
            a:last-child {
                color: white;
                background-color: @green;
            }
        }//closes .links
    }//closes the nav
}//closes the header

.bottom-nav{
    .width100();

    .bottom-links{
        .width100();
        display: flex;
        margin: 0;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: @green;
        
        a{
        color: @summer;
        
        text-decoration: none;
        font-size: 1.5rem;
        }//closes a tag
    }//closes .bottom-links
}//closes .bottom-nav